<a href="https://colab.research.google.com/github/ARKlouise/MyPython--4100E209/blob/main/Mypython211011.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Data Type**

Date: 2021/10/11

Name: Clark Louise S. Delos Santos

克拉克 - 4100E209

**Arithmetic Operators**

In [3]:
a = 30 / 5
a

6.0

In [4]:
b = 25 - 10
b

15

In [5]:
c = 30 * 5
c

150

In [6]:
d = 15 + 5 
d

20

**Logical Operator**

In [ ]:
x = 2
print (x < 5  or x > 25)

x = 2

(x < 5) FALSE |  (x > 25) FALSE 

[True] and [True] ==> True

[True] and [False] ==> False 

[False] and [True] ==> False

[False] and [False] ==> False

In [ ]:
x = 7
print (x < 4 or x > 8)

x = 7
(x < 4) FALSE | (x > 8) FALSE

[True] or [True] ==> True

[True] or [False] ==> True

[False] or [True] ==> True

[False] or [False] ==> False

**Built-In Funtions (bin Function)**

In [ ]:
bin(5)

In [ ]:
int(3)

**String Data Type**

In [ ]:
str3 = 'allow embedded "double" '
str3

**Operations on Strings**

In [9]:
movie1 = 'Avengers'

print("movie1[0]: ", movie1[1])

movie1[0]:  v


movie1 = 'Avengers'

movie1[0] ==> Super

movie1[1] ==> Hero

and so on

**Slice Operations**

In [10]:
b = "Hello Santa"
print(b)

Hello Santa

In [11]:
b = "Hello Santa"
print(b)

Hello Santa

In [12]:
b = "Hello Santa"
print(b)

Hello Santa

In [13]:
b = "Hello Santa"
print(b)

Hello Santa

**Python Capitalize() Method**

In [18]:
x = 'Hello and welcome to my world Santa'
y = x
print(x)

Hello and welcome to my world Santa

In [26]:
dog = "arf"
x = (dog)
print (x)

arf

**Python join() Method**

In [25]:
character = ("Iron Man" , "Falcon" , "Spiderman" , "Black Panther")
x = "-".join(character)
print (x)

Iron Man-Falcon-Spiderman-Black Panther

**Python ljust() Method**

In [ ]:
dog = "arf"
x = (dog)
print (x)

list1 = [14,17,8,7,11,13,9]
list1 [3]

list1 = [14,17,8,7,11,13,9]

index of list

list1 [0] ==> 14

list1 [1] ==> 17

and so on...

**List Slice Operation**

In [27]:
list1 = [14,17,8,7,11,13,9]
list1 [2:5]

[8, 7, 11]

**List Built-in Function**

In [ ]:
max(list1)

In [ ]:
len(list1)

**DICT Data Type**

mydict = {'Name': 'Iron man', 'age': '45', 'House': 'America'}

==> 3 key-value pairs

'Name': 'Iron man'

'Age': '45'

'House': 'America'

separated by: ,

many key-value pairs

In [28]:
mydict = {'Name': 'Iron man', 'Age': '45', 'House': 'America'}

print (mydict)

{'Name': 'Iron man', 'Age': '45', 'House': 'America'}

In [29]:
print ("mydict['House']: ", mydict['House'])

mydict['House']:  America