<a href="https://colab.research.google.com/github/ARKlouise/MyPython--4100E209/blob/main/Oct_20_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Funtion**

In [23]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 2 to 15 is", sum(2, 15)) 
    print("Sum from 25 to 35 is", sum(25, 35))
    print("Sum from 37 to 42 is", sum(37, 42))

main() # Call the main function

Sum from 2 to 15 is 104
Sum from 25 to 35 is 295
Sum from 37 to 42 is 195

In [24]:
def swap(a,b):
  a,b = b,a
  return (a,b)

if __name__ == '__main__':
    x = 41
    y = 14
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

x = 41,y = 14
x = 14,y = 41

In [26]:
def sort(number1, number2, number3):
       if (number1 < number2) and (number1 < number3):
         if number2 < number3:
           return number1, number2,number3
         else:
          return number1, number3, number2 
       if (number2 < number1) and (number2 < number3):
         if number1 < number3:
           return number2, number1,number3
         else:
           return number2, number3,number1
       if (number3 < number1) and (number3 < number2):
         if number1 < number2:
           return number3, number1,number2    
         else:
           return number3, number2, number1

num1, num2, num3 = sort(60, 40, 20)

print("num1 is ", num1)
print("num2 is", num2)
print("num3 is", num3)

num1 is  20
num2 is 40
num3 is 60

**Default Argument**

In [34]:
def printArea(width = 7, height = 8):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

In [35]:
printArea()

width: 7 	height: 8 	area: 56

In [45]:
printArea(width = 7, height = 8)

width: 7 	height: 8 	area: 56

In [44]:
printArea(width = 8, height = 7)

width: 8 	height: 7 	area: 56

In [43]:
printArea(7,8)

width: 7 	height: 8 	area: 56

In [42]:
printArea(8,7)

width: 8 	height: 7 	area: 56

**Lambda Function**

In [48]:
f1 = lambda x, y, z: x+5*y+10*z
print(f1(5,10,15))

205

In [49]:
def myfunc(m):
    return m*m

my_list = [8, 12, 16, 20, 24]


print(list(map(lambda x:myfunc(x), my_list)))

[64, 144, 256, 400, 576]